<ion-header >

  <ion-navbar color="primary">
    <ion-title text-center >Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >

  <div *ngIf="user" padding class="centrar">
      <div class="fondo" >
        <form>
          <div padding>
            <h4>Foto</h4>
            <hr><br>
            <div class="foto-perfil">
              <img src="{{ foto }}" >
            </div> 
          </div>
        </form>
        <br><br>
        <form class="example-form" padding >
          <div padding>
            <h4>Datos Personales</h4>
            <hr><br>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nombre*" value="{{ user.name }}" type="text" readonly>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" value="{{ user.email }}" type="email" readonly>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nickname" value="{{ user.nickname }}" type="text" readonly>
            </mat-form-field>            
          </div>                 
        </form>
        <div style="padding: 16px 0">
          <button class="example-full-width" mat-raised-button color="accent" (click)="editPerfil(user)">
            <ion-icon name="ios-contact-outline" item-right color="theme-white"></ion-icon>&nbsp; Editar perfil
          </button>
          <br><br>
          <button class="example-full-width" mat-raised-button color="primary" (click)="passwordPerfil(user)">
            <ion-icon name="lock" item-right color="theme-white"></ion-icon>&nbsp; Cambiar Contraseña
          </button>
        </div>
      </div>
  </div>
  
  <!--
	<ion-list *ngIf="user">
    <ion-item>
      <div class="foto-perfil">
        <img src="{{ foto }}" >
      </div>      
    </ion-item>
    <ion-item>
      <span item-left>Nombre</span>
      <span item-right>{{ user.name }}</span>
    </ion-item>
    <ion-item>
      <span item-left>Email</span>
      <span item-right>{{ user.email }}</span>
    </ion-item>
    <ion-item>
      <span item-left>Nickname</span>
      <span item-right>{{ user.nickname }}</span>
    </ion-item>
	</ion-list>
<button mat-button>Click me!</button>
  <ion-footer>
    <button full ion-button (click)="editPerfil(user)" *ngIf="user">
      <ion-icon name="ios-contact-outline" item-left color="theme-white"></ion-icon>&nbsp; Editar perfil
    </button>
    <button full ion-button (click)="passwordPerfil(user)" *ngIf="user">
      <ion-icon name="ios-contact-outline" item-left color="theme-white"></ion-icon>&nbsp; Cambiar Contraseña
    </button>
  </ion-footer>	-->
</ion-content>
