<ion-header >

  <ion-navbar color="purple">
    <ion-title text-center >Perfil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
	<ion-list *ngIf="user">
    <ion-item>
      <div class="foto-perfil">
        <img src="{{ foto }}" >
      </div>      
    </ion-item>
    <ion-item>
      <span item-left>Nombre</span>
      <span item-right>{{ user.name }}</span>
    </ion-item>
    <ion-item>
      <span item-left>Email</span>
      <span item-right>{{ user.email }}</span>
    </ion-item>
    <ion-item>
      <span item-left>Nickname</span>
      <span item-right>{{ user.nickname }}</span>
    </ion-item>
	</ion-list>

  <ion-footer>
    <button full ion-button (click)="editPerfil(user)" *ngIf="user">
      <ion-icon name="ios-contact-outline" item-left color="theme-white"></ion-icon>&nbsp; Editar perfil
    </button>
    <button full ion-button (click)="passwordPerfil(user)" *ngIf="user">
      <ion-icon name="ios-contact-outline" item-left color="theme-white"></ion-icon>&nbsp; Cambiar Contraseña
    </button>
  </ion-footer>	
</ion-content>
