page-home {
	ion-slide{

		ion-card{
			height: 150px;
			img{
				width: 100% !important;
				height: 80px !important;
			}
			.desc{
				padding: .2em;
				font-size: 1.2em;
				line-height: 2em;
			}
		}
	}
}
