page-home {
	.home{

	}
	.boton-float{
		width: 56px;
		height: 56px;
	}
	ion-slide{
		ion-card{
			width: 150px;
			img{
				width: 100% !important;
			}
			.desc{
				padding: .2em;
				font-size: 1.2em;
				line-height: 2em;
			}
		}
	}
	.boton-icon{
		width: 17vw;
		height: 17vw;
		max-width: 120px;
		max-height: 120px;
		text-align: center;
		margin: 0 auto;
		ion-icon{
			font-size: 32px;
		}
	}
	.card-uno{
		background: red;
		position: relative;
		height: 80px;
		img{
			width: 48px;
			height: 48px;
			position: absolute;
			left: 8px;
			top: 24px;
			border-radius: 50%;
		}
		h3{
			position: absolute;
			left: 56px;
			top: 8px;
			right: 8px;
			font-size: 14px;
			color: white;
		}
	}
	.card-item1{
		position: relative;
		text-align: center;		
		button{
			width: 100%;
			height: 154px;
			position: relative;
			text-align: center;
			.imagenes{
				position: absolute;
				bottom: 16px;
				height: 56px;
				width: 146px;
				left: 50%;
				transform: translateX(-50%);
				.principal{
					width: 40px;
					height: 40px;
					margin: 8px;
					border-radius: 50%;
				}
				.secundario{
					width: 40px;
					height: 40px;
					margin: 8px 0;
					border-radius: 50%;
				}
			}
		}
		.espacio{
			position: absolute;
			top: 16px;
			left: 16px;
			right: 16px;
			bottom: 80px;
			div{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				color: white;
				font-size: 20px;
			}
		}			
	}
	.card-item2{
		position: relative;
		button{
			width: 100%;
			height: 72px;
			position: relative;
			vertical-align: middle;
			img{
				width: 40px;
				height: 40px;
				position: absolute;
				right: 8px;
				top: 16px;
				border-radius: 50%;
			}
		}
		div{
			position: absolute;
			top: 50%;
			left: 8px;
			right: 56px;
			transform: translateY(-50%);
			color: white;
			font-size: 16px;
		}
		.prueba{
			position: absolute;
			height: 100%;
			right: 60px;
			top: 0;
			padding-left: 68px;
			display: table;
			width: 100%;
			.prueba2{
				vertical-align:middle;
				display: table-cell;
				div{
					font-size: 16px;
					color: white;
				}
			}
		}			
	}
	.card-item3{
		position: relative;
		text-align: center;
		button{
			width: 100%;
			height: 72px;
			position: relative;
			vertical-align: middle;
			img{
				width: 40px;
				height: 40px;
				position: absolute;
				left: 8px;
				top: 16px;
				border-radius: 50%;
			}
		}
		div{
			position: absolute;
			top: 50%;
			left: 56px;
			transform: translateY(-50%);
			right: 8px;
			color: white;
			font-size: 16px;
		}			
	}
	ion-col{
		text-align: center;
	}
	.card-background-page {
	  ion-card {
	    position: relative;
	    text-align: center;
	    img{
			width: 100% !important;
		}
		button{
			position: absolute;
			left: 8px;
			top: 46%;
	 	}
	 	h3{
	 		position: absolute;
	 		left: 8px;
	 		color: white;
			top: 31%;
			font-size: 18px;
			font-weight: bold;
			text-shadow: 0 0 8px rgba(0,0,0,1);
	 	}
	  }
	  
	  .card-title {
	    position: absolute;
	    top: 36%;
	    font-size: 32px;
	    width: 100%;
	    font-weight: bold;
	    color: #fff;
	    text-shadow: 0 0 6px black;
	  }
	  .card-subtitle {
	    font-size: 1.0em;
	    position: absolute;
	    top: 52%;
	    width: 100%;
	    color: #888;
	  }
	}

	.inner2{
		width: 750px;
		height: 100%;
		ion-card{
			width: 150px;
			height: 150px;
			display: table-cell;
			img{
				width: 100px;
				height: 100px;
				border-radius: 50%;
				margin: 16px auto;
				border-color: #000;
				border-width: 2px;
				box-shadow: 0 0 2px black;
			}
			.card-title {
			    position: absolute;
			    bottom: 0;
			    padding: 4px;
			    width: 150px;
			    color: #444;
			    text-align: center;
			}
		}
		
	}

	.inner{
		width: 830px;
		height: 162px;
		display: flex;
		padding-top: 4px;
		ion-card{
			width: 150px;
			height: 150px;
			position: relative;
			margin: 0;
			margin-right: 6px;
			margin-left: 2px;
			box-shadow: 0 0 4px rgba(0,0,0,.5);
			overflow: hidden;
			img{
				height: auto;
				width: auto;
				min-height: 150px;
				min-width: 150px;
				max-width: 200px;
				max-height: 200px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
			}
			.card-title {
				display: none;
			    position: absolute;
			    bottom: -1px;
			    padding: 4px;
			    width: 150px;
			    color: #fff;
			    text-align: center;
			    background-color: rgba(139,35,180,0.9);
			}
		}
		
	}

	.inner3{
		width: 830px;
		height: 162px;
		display: flex;
		padding-top: 4px;
		ion-card{
			width: 150px;
			height: 150px;
			margin: 0;
			margin-right: 6px;
			margin-left: 2px;
			box-shadow: 0 0 4px rgba(0,0,0,.5);
			div{
				width: 115px;
				height: 115px;
				border-radius: 50%;
				background: #888;
				overflow: hidden;				
				position: relative;
				margin: 8px auto;

				img{
					height: auto;
					width: auto;
					min-height: 115px;
					min-width: 115px;
					max-height: 150px;
					max-width: 150px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
				}
			}
			
			.card-title {
			    position: absolute;
			    bottom: 2px;
			    padding: 4px;
			    width: 150px;
			    color: #444;
			    text-align: center;
			}
		}
		
	}
	.cart{
		font-size: 32px;
	}
	.margin-home{
		margin-left: 8px;
		margin-right: 8px;
	}
	.scrollX{
		width:100%;
		height:160px;
		display: flex;
		margin: 2px 0;
		margin-bottom: 12px;
	}
	.padding-home{
		padding: 0 16px
	}
	.margin-top-title{
		margin-top:8px;
	}
}
