<ion-header>

  <ion-navbar color="primary">
    <ion-title>Bigwave</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div padding class="centrar">
	    <div class="fondo" >
	      <form class="example-form" padding [formGroup]="form">
	      	<div padding>
	      		<h4>Registro</h4>
	      		<mat-form-field class="example-full-width">
		          <input matInput placeholder="Nombre*" type="text" formControlName="name" #name>
		          <mat-error *ngIf="form.controls.name.errors">
		            <strong *ngIf="form.controls.name.errors.required"> Nombre es requerido</strong>
		          </mat-error>
		        </mat-form-field>
		        <mat-form-field class="example-full-width">
		          <input matInput placeholder="Email" type="email" formControlName="email" #email (ionBlur)="removeSpaces(email)">
		          <mat-error *ngIf="form.controls.email.errors">
		            <strong *ngIf="form.controls.email.errors.email && !form.controls.email.errors.required"> Por favor escribir un email valido </strong>
		            <strong *ngIf="form.controls.email.errors.required"> Email es requerido</strong>
		          </mat-error>
		        </mat-form-field>
		        <mat-form-field class="example-full-width">
		          <input matInput placeholder="Nickname" type="text" formControlName="nickname" #nickname>
		          <mat-error *ngIf="form.controls.nickname.errors">
		            <strong *ngIf="form.controls.nickname.errors.required"> Nickname es requerido</strong>
		          </mat-error>
		        </mat-form-field>
		        <mat-form-field class="example-full-width">
		          <input matInput placeholder="Password" type="password" name="password" formControlName="password" #password>
		          <mat-error *ngIf="form.controls.password.errors">
		            <strong *ngIf="form.controls.password.errors.required"> Password es requerido</strong>
		            <strong *ngIf="form.controls.password.errors.minlength">Mínimo 8 caracteres</strong>
		            <strong *ngIf="form.controls.password.errors.maxlength">Máximo 15 caracteres</strong>
		          </mat-error>
		        </mat-form-field>
		        <mat-form-field class="example-full-width">
		          <input matInput placeholder="Confirmar" type="password" name="password_confirm" formControlName="password_confirm" #password_confirm>
		          <mat-error *ngIf="form.controls.password_confirm.errors">
		            <strong *ngIf="form.controls.password_confirm.errors.required"> Password es requerido</strong>
		            <strong *ngIf="form.controls.password_confirm.errors.minlength">Mínimo 8 caracteres</strong>
		            <strong *ngIf="form.controls.password_confirm.errors.maxlength">Máximo 15 caracteres</strong>
		          </mat-error>
		        </mat-form-field>
		        <ion-label color="danger" *ngIf="form.controls.password.value != form.controls.password_confirm.value">Las contraseñas no son iguales</ion-label>
		        <br><br>
		        <button class="example-full-width" mat-raised-button color="primary" (click)="register()">Registrar</button>
	      	</div>	               
	      </form>
	    </div>
	</div>
	<!--<form form [formGroup]="form" novalidate>
		<ion-grid>
		  <ion-row>
		    <ion-col col-6>  
					<ion-item>
						<ion-label floating>Nombre</ion-label>s
						<ion-input type="text" name="name" formControlName="name" #name></ion-input>
					</ion-item>
					<div padding *ngIf="form.controls.name.errors && form.controls.name.dirty">
						<ion-label color="danger" *ngIf="form.controls.name.errors.required">*Requerido</ion-label>
					</div>
				</ion-col>
		    <ion-col col-6>  
		      <ion-item>
			    	<ion-label floating>Email</ion-label>
			   		<ion-input type="text" name="email" formControlName="email" #email></ion-input>
					</ion-item>
					<div padding *ngIf="form.controls.email.errors && form.controls.email.dirty">
						<ion-label color="danger" *ngIf="form.controls.email.errors.required">*Requerido</ion-label>
					</div>
				</ion-col>		
		  </ion-row>
			
			<ion-row>
				<ion-col col-12>
					<ion-item>
						<ion-label floating>Nickname</ion-label>
						<ion-input type="text" name="nickname" formControlName="nickname" #nickname></ion-input>
					</ion-item>
					<div padding *ngIf="form.controls.nickname.errors && form.controls.nickname.dirty">
						<ion-label color="danger" *ngIf="form.controls.nickname.errors.required">*Requerido</ion-label>
					</div>
				</ion-col>

			</ion-row>
					  
			
			<ion-row>
				<ion-col>
					<ion-item>
						<ion-label floating>Contraseña</ion-label>
						<ion-input type="password" name="password" formControlName="password" #password></ion-input>
					</ion-item>
					<div padding *ngIf="form.controls.password.errors && form.controls.password.dirty">
						<ion-label color="danger" *ngIf="form.controls.password.errors.required">*Requerido</ion-label>
						<ion-label color="danger" *ngIf="form.controls.password.errors.minlength">Mínimo 8 caracteres</ion-label>
						<ion-label color="danger" *ngIf="form.controls.password.errors.maxlength">Máximo 15 caracteres</ion-label>
					</div>					
				</ion-col>				
				<ion-col>
					<ion-item>
						<ion-label floating>Confirmar</ion-label>
						<ion-input type="password" name="password_confirm" formControlName="password_confirm" #password_confirm></ion-input>
					</ion-item>
					<div padding *ngIf="form.controls.password_confirm.errors && form.controls.password_confirm.dirty">
						<ion-label color="danger" *ngIf="form.controls.password_confirm.errors.required">*Requerido</ion-label>
						<ion-label color="danger" *ngIf="form.controls.password_confirm.errors.minlength">Mínimo 8 caracteres</ion-label>
						<ion-label color="danger" *ngIf="form.controls.password_confirm.errors.maxlength">Máximo 15 caracteres</ion-label>
					</div>					
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col>
					<ion-label color="danger" *ngIf="form.controls.password.dirty && password.value != password_confirm.value">Las contraseñas no son iguales</ion-label>
				</ion-col>
			</ion-row>
			
			<ion-row>
				<ion-col>
					<button full ion-button (click)="register()" [disabled]="form.invalid && password.value == password_confirm.value">Registrarse</button>
				</ion-col>
			</ion-row>			
		</ion-grid>
	</form>-->
</ion-content>
