<!--
  Generated template for the SavePymesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Bigwave</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
	<div padding class="centrar">
	    <div class="fondo" >
	      <form class="example-form" padding [formGroup]="form">
	      	<div padding>
	      		<h4>Crear Tienda</h4>
	      		<mat-form-field class="example-full-width">
		          <input matInput placeholder="Nombre*" type="text" formControlName="name" #name>
		          <mat-error *ngIf="form.controls.name.errors">
		            <strong *ngIf="form.controls.name.errors.required"> Nombre es requerido</strong>
		          </mat-error>
		        </mat-form-field>
		        <mat-form-field class="example-full-width">
		          <input matInput placeholder="Descripción" type="text" formControlName="description" #description>
		        </mat-form-field>
		        <mat-form-field class="example-full-width">
		          <input matInput placeholder="Email" type="email*" formControlName="email" #email (ionBlur)="removeSpaces(email)">
		          <mat-error *ngIf="form.controls.email.errors">
		            <strong *ngIf="form.controls.email.errors.email && !form.controls.email.errors.required"> Por favor escribir un email valido </strong>
		            <strong *ngIf="form.controls.email.errors.required"> Email es requerido</strong>
		          </mat-error>
		        </mat-form-field>
		        <br><br>
		        <button class="example-full-width" mat-raised-button color="primary" (click)="createPyme()">Registrar</button>
	      	</div>	               
	      </form>
	    </div>
	</div>
</ion-content>
