<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-searchbar [(ngModel)]="search" (ionInput)="onInput(search)"> </ion-searchbar>
 
  </ion-navbar>
</ion-header>
 
<ion-content style="position: relative;">
  <!--<div id="map_canvas"></div>-->
  <div #map id="map" style="width: 100%;height: 100%"></div>
  
  
  <button class="boton-icon"  mat-fab color="primary" (click)="showFilter()">
    <ion-icon name="{{filter.icon}}" style="color:WHITE;font-size: 15px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);"></ion-icon>
  </button>
  <div style="width: 29px;height: 29px;position: absolute;right: 9px;bottom: 90px; background: white;border-radius: 1px;box-shadow: 0 0 1px rgba(0,0,0,.3);padding: 8px" (click)="miPosition()"><ion-icon name="locate" style="color:#666;font-size: 15px"></ion-icon>
  </div>
	
  <div *ngIf="filter.show"  class="list" style="width: 232px;position: absolute;right: 48px;bottom: 23px; background: white;border-radius: 4px;box-shadow: 0 0 1px rgba(0,0,0,.3);padding: 8px">
    <ion-item >
      <ion-label>Solo ver</ion-label>
		</ion-item>
		<div >
      <ion-scroll scrollY="true" class="scrollX">
		<ion-item *ngFor="let c of categories  ; let i = index;trackBy:trackByIndex;" >
      <ion-label>{{c.attributes.name}}</ion-label>
      <ion-checkbox  color="dark" checked="true" (click)="getFilter(c.id)" ></ion-checkbox> <!-- -->
    </ion-item>
  </ion-scroll>
		</div>
  </div>


 <!--  <div style="position: absolute;top: 10px; left: 124px;right: 10px"><input type="text" placeholder="Buscar" name="" style="width: 100%;border:none;box-shadow: 0 0 1px rgba(0,0,0,.6); padding: 9px; border-radius: 1px;padding-right: 32px"><ion-icon name="search" style="color:#666;font-size: 18px;position: absolute;right: 8px; top: 9px;cursor: pointer;z-index: 10;"></ion-icon>
  </div> -->
</ion-content>