page-nearby {
	iframe{
		width: 100%;
		height: 90%;
	}
	#map_canvas{
	    display: block;
	    height: 100vh;
	    width: 100%;
	  }
	  .scrollX{
		width:100%;
		height:160px;
		display: flex;
		margin: 2px 0;
		margin-bottom: 12px;
	}
	.item{
		font-size: 1.2rem;
	
	}
	.label{
		text-align: center;
		white-space:normal;
	}
	.boton-icon{
		width: 29px;
		height: 29px;
		position: absolute;
		right: 9px;
		bottom: 120px;
		padding: 8px;
		margin-bottom: 4px;
	}
	.card-background-page{
	
		position: absolute;
		bottom: -2px;
		background: white;
		border-radius: 1px;
		box-shadow: 0 0 1px rgba(0, 0, 0, .3);
		padding: 8px;
		height: 200px;
		border-radius: 30px;
		border-radius: 30px;
		z-index: 1;

	}
}
