<ion-header>

  <ion-navbar color="purple">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<form form [formGroup]="form" novalidate>
		<ion-grid>
		  <ion-row *ngIf="!password_show">
		  	<ion-col col-12>  
		      <ion-item>
			    	<ion-label floating>Email</ion-label>
			   		<ion-input type="text" name="email" formControlName="email" #email></ion-input>
					</ion-item>
					<div padding *ngIf="form.controls.email.errors && form.controls.email.dirty">
						<ion-label color="danger" *ngIf="form.controls.email.errors.required">*Requerido</ion-label>
					</div>
			</ion-col>	
		    <ion-col col-12>  
					<ion-item>
						<ion-label floating>Nombre</ion-label>s
						<ion-input type="text" name="name" formControlName="name" #name></ion-input>
					</ion-item>
					<div padding *ngIf="form.controls.name.errors && form.controls.name.dirty">
						<ion-label color="danger" *ngIf="form.controls.name.errors.required">*Requerido</ion-label>
					</div>
				</ion-col>		    	
		  </ion-row>
			
			<ion-row  *ngIf="!password_show">
				<ion-col col-12>
					<ion-item>
						<ion-label floating>Nickname</ion-label>
						<ion-input type="text" name="nickname" formControlName="nickname" #nickname></ion-input>
					</ion-item>
					<div padding *ngIf="form.controls.nickname.errors && form.controls.nickname.dirty">
						<ion-label color="danger" *ngIf="form.controls.nickname.errors.required">*Requerido</ion-label>
					</div>
				</ion-col>

			</ion-row>
			
			<ion-row>			
				<ion-col col-12>
					<ion-item>
						<ion-label floating>Contraseña</ion-label>
						<ion-input type="password" name="current_password" formControlName="current_password" #current_password></ion-input>
					</ion-item>
					<div padding *ngIf="form.controls.current_password.errors && form.controls.current_password.dirty">
						<ion-label color="danger" *ngIf="form.controls.current_password.errors.required">*Requerido</ion-label>
						<ion-label color="danger" *ngIf="form.controls.current_password.errors.minlength">Mínimo 8 caracteres</ion-label>
						<ion-label color="danger" *ngIf="form.controls.current_password.errors.maxlength">Máximo 15 caracteres</ion-label>
					</div>					
				</ion-col>
			</ion-row>
						
			<ion-row *ngIf="password_show">
				<ion-col col-12>
					<ion-item>
						<ion-label floating>Nueva Contraseña</ion-label>
						<ion-input type="password" name="password" formControlName="password" #password></ion-input>
					</ion-item>
					<div padding *ngIf="form.controls.password.errors && form.controls.password.dirty">
						<ion-label color="danger" *ngIf="form.controls.password.errors.required">*Requerido</ion-label>
						<ion-label color="danger" *ngIf="form.controls.password.errors.minlength">Mínimo 8 caracteres</ion-label>
						<ion-label color="danger" *ngIf="form.controls.password.errors.maxlength">Máximo 15 caracteres</ion-label>
					</div>					
				</ion-col>				
				<ion-col col-12>
					<ion-item>
						<ion-label floating>Confirmar Contraseña</ion-label>
						<ion-input type="password" name="password_confirm" formControlName="password_confirm" #password_confirm></ion-input>
					</ion-item>
					<div padding *ngIf="form.controls.password_confirm.errors && form.controls.password_confirm.dirty">
						<ion-label color="danger" *ngIf="form.controls.password_confirm.errors.required">*Requerido</ion-label>
						<ion-label color="danger" *ngIf="form.controls.password_confirm.errors.minlength">Mínimo 8 caracteres</ion-label>
						<ion-label color="danger" *ngIf="form.controls.password_confirm.errors.maxlength">Máximo 15 caracteres</ion-label>
					</div>					
				</ion-col>
			</ion-row>

			<ion-row *ngIf="password_show">
				<ion-col>
					<ion-label color="danger" *ngIf="password != password_confirm">Las contraseñas no son iguales</ion-label>
				</ion-col>
			</ion-row>

			
			<ion-row>
				<ion-col>
					<button full ion-button (click)="edit()">Actualizar</button>
				</ion-col>
			</ion-row>			
		</ion-grid>
	</form>
</ion-content>
